# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
.venv/
ENV/
venv/
*.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
config.py
CREDS.json
token.json

# Replit
*.db
